dname: Parallel PowerShell Scripts

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  script1:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Run Script 1
        shell: pwsh
        run: .\Interceptor_Logging.ps1
  
  script2:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Execute PowerShell Script
        shell: pwsh # Uses PowerShell Core
        run: |
          Write-Host "Hello from PowerShell on GitHub Actions!"
          $currentTime = Get-Date
          Write-Output "Current time: $currentTime"
          
          # Example of running a command and displaying its output
          Get-Process | Select-Object Name, Status | Format-Table -AutoSize
          ipconfig 
          ls
          Start-Sleep -Seconds 30
          curl -vv -x "http://$env:COMPUTERNAME:8081" "https://example.com"
          
