name: Parallel PowerShell Scripts

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  script1:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Run Script 1
        shell: pwsh
        run: |
          Write-Host "Hello from PowerShell on GitHub Actions!"
          $currentTime = Get-Date
          Write-Output "curl no Proxy"

          cmd.exe /k curl --no-alpn -k -vv "https://example.com"
          Start-Sleep -Seconds 20
          
          echo "host=$env:COMPUTERNAME" >> $env:GITHUB_OUTPUT
          ipconfig 
          Start-Job -ScriptBlock {
          
          .\Interceptor_Logging.ps1
          }
          Start-Sleep -Seconds 20
          cmd.exe /k curl --no-alpn -k -vv -x "http:/127.0.0.1:8081" "https://example.com"
          Receive-Job -Id 1 
          Receive-Job -Id 1 -Keep
